/* #ground {
  display: flex;
  width: 500px;
  height: 500px;
  background-color: black;
} */

#ground,
#ground ul,
#ground li {
  display: flex;
}

#ground ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ground_grid {
  flex-direction: column;
}

.ground_cell {
  width: 20px;
  height: 20px;
  color: black;
  background-color: white;
  margin: 1px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ground_cell .icon {
  cursor: pointer;
  font-size: 18px;
}

.ground_cell.mask {
  color: white;
  background-color: black;
}
